.imagen-container {
  position: relative; /* Para que los cuadrados grises estén posicionados relativamente a este contenedor */
  display: inline-block;
}
.cuadrado-gris {
  position: absolute; /* Posición absoluta para que se quede quieto con la imagen */
  background-color: gray;
  width: 90%; /* Ajusta el ancho según tu preferencia */
  height: 30%; /* Ajusta la altura según tu preferencia */
  z-index: -1; /* Asegura que los cuadrados grises estén detrás de la imagen */
  left: -2%;
}


