h2.heading {
    color: #888;
    line-height: .8;
    border-bottom: unset;
}
h2.heading {
    padding-bottom: .7rem;
    margin-bottom: 1.5rem;
}
h2{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.titulo_txt{
    flex-direction: column;  
}
