*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
} 

body{
    background-color: white;
} 
.wrapper .container{
    background-image: url(/copynaughtdog/IMG/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    padding: 27vw;
    color: beige;
    position: relative;
}
 
.wrapper .container::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 60vw; 
    height: 13vw; 
    background-color: rgb(40, 41, 43); 
    z-index: 1; 
    bottom: -40px;
  }
  .wrapper .container::before {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 70vw; 
    height: 13vw; 
    background-color: rgba(156, 157, 160, 0.523); 
    z-index: 1;
    bottom: -40px;
  }

  .wrapper .container .titulo {
    position: absolute; 
    font-family: "Anton", sans-serif;
    bottom: 40px; 
    left: 20px; 
    width: 38%;
    text-align:left;
    color: white; 
    font-size: 3.3vw;
    z-index: 2;
  }
  .wrapper .container .titulo1 {
    position: absolute; 
    bottom: 10px; 
    left: 20px; 
    width: 90%;
    text-align:left;
    color: white;  
    font-size: 1.5vw;
    font-weight: bolder;
    z-index: 2;
  }
  .wrapper .container .imgfle {
    position: absolute;
    right: 37vw; 
    width: 8%;
    bottom: 20px;
    z-index: 2;
  }
  .wrapper .container .imgfle:hover {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 70vw; 
    height: 13vw; 
    background-color: rgb(40, 41, 43); 
    z-index: 1; 
    bottom: -40px;
  }
  .Botonlastpart{
    background-color: red;
    color: white;
    border-color: red;
    padding: 1%;
  }
  .centerbotton{
    display: flex;
    justify-content: center;
    margin: 1%;
  }

  .Botonlastpart:hover{
    background-color: rgb(161, 21, 21);
    border-color: rgb(161, 21, 21);
  }
  .imgcarrusel{
    width: 43%;
  }